@import "tailwindcss";
@theme {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.21rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

:root {
  --text: #1f1f1f;
  --background: #f2f2f2;
  --primary: #2f27ce;
  --secondary: #bcbbdd;
  --accent: #bb3dff;
}

.dark {
  --text: #e0e0e0;
  --background: #0d0d0d;
  --primary: #3a31d8;
  --secondary: #232244;
  --accent: #7e00c2;
}

.p-skeleton {
    background-color: #1a1a1a !important;
}

.p-skeleton::after {
    background: linear-gradient(
        90deg, 
        transparent, 
        rgba(255, 255, 255, 0.1), 
        transparent
    ) !important;
}